
@for (product of cartProducts; track $index) {
    <div class="product" style="border: 1px solid #000; margin-bottom: 10px;padding: 30px;display: flex;justify-content: space-between;">
        <div>
            <p>{{product.productName}}</p>
            <p>{{product.productDescription}}</p>
            <p>{{product.price}}</p>
            <p>{{product.categoryName}}</p>
        </div>
        <div>
            <button (click)="remove(product)"  style="background-color: red;color: #FFF;padding: 12px; border: none;cursor: pointer;">remove from cart</button>
        </div>
    </div>
}