/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body { 
    padding: 0;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
